<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kitware_v1</display-name>
  <welcome-file-list>
  	<welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>KitWareController</display-name>
    <servlet-name>KitWareController</servlet-name>
    <servlet-class>com.kitware.A.control.KitWareController</servlet-class>
    <init-param>
      <param-name>propLocation</param-name>
      <param-value>/WEB-INF/kitware.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitWareController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharEncodingFilter</display-name>
    <filter-name>CharEncodingFilter</filter-name>
    <filter-class>com.kitware.A.filter.CharEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>com.kitware.A.listener.ContextLoaderListener</listener-class>
  </listener>
</web-app>